{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div>
  {% for block in section.blocks %}
    {% assign product = block.settings.product %}

    <product-info
      id="MainProduct-{{ section.id }}"
      class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
      data-section="{{ section.id }}"
      data-product-id="{{ product.id }}"
      data-update-url="false" 
      data-url="{{ product.url }}"> 
      <section id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__column-sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

          <div
          id="Quantity-Form-{{ section.id }}"
          class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
          {{ block.shopify_attributes }}>
          {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
          {% # theme-check-disable %}
          {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id
          -%}
          {% # theme-check-enable %}
          <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
            <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
              {%- render 'loading-spinner' -%}
              <span>(
                {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                )</span>
            </span>
          </label>
          <div class="price-per-item__container">
            <quantity-input
              class="quantity"
              data-url="{{ product.url }}"
              data-section="{{ section.id }}">
              <button
                class="quantity__button"
                name="minus"
                type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                </span>
                <span class="svg-wrapper">
                  {{- 'icon-minus.svg' | inline_asset_content -}}
                </span>
              </button>
              <input
                class="quantity__input"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                data-cart-quantity="{{ cart_qty }}"
                data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                {% endif %}
                step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                form="{{ product_form_id }}">
              <button
                class="quantity__button"
                name="plus"
                type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                </span>
                <span class="svg-wrapper">
                  {{- 'icon-plus.svg' | inline_asset_content -}}
                </span>
              </button>
            </quantity-input>
            {%- liquid
              assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
              assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
              if cart_qty > 0
                assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
              endif
            -%}
            {%- if product.quantity_price_breaks_configured? -%}
              <price-per-item
                id="Price-Per-Item-{{ section.id }}"
                data-section-id="{{ section.id }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}">
                {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                  {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                  <div class="price-per-item">
                    {%- if variant_price_compare -%}
                      <dl class="price-per-item--current">
                        <dt class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </dt>
                        <dd>
                          <s class="variant-item__old-price">
                            {{ variant_price_compare | money_with_currency }}
                          </s>
                        </dd>
                      </dl>
                    {%- endif -%}
                    {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                      {%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                      -%}
                      <span class="price-per-item--current">
                        {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                      </span>
                    {%- else -%}
                      {%- for price_break in volume_pricing_array -%}
                        {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                          {%- assign price_break_price = price_break.price | money_with_currency -%}
                          <span class="price-per-item--current">
                            {{-
                              'products.product.volume_pricing.price_at_each' | t: price: price_break_price
                            -}}
                          </span>
                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                {%- else -%}
                  {%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                  -%}
                  {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                  <div class="price-per-item">
                    {%- if variant_price_compare -%}
                      <dl class="price-per-item--current">
                        <dt class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </dt>
                        <dd>
                          <s class="variant-item__old-price">
                            {{ variant_price_compare | money_with_currency }}
                          </s>
                        </dd>
                        <dt class="visually-hidden">
                          {{ 'products.product.price.sale_price' | t }}
                        </dt>
                        <dd>
                          <span class="price-per-item--current">
                            {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                          </span>
                        </dd>
                      </dl>
                    {%- else -%}
                      <span class="price-per-item--current">
                        {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                      </span>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </price-per-item>
            {%- endif -%}
          </div>
          <div class="quantity__rules caption" id="Quantity-Rules-{{ section.id }}">
            {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
              <span class="divider">
                {{-
                  'products.product.quantity.multiples_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                -}}
              </span>
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
              <span class="divider">
                {{-
                  'products.product.quantity.minimum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                -}}
              </span>
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
              <span class="divider">
                {{-
                  'products.product.quantity.maximum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                -}}
              </span>
            {%- endif -%}
          </div>
          {%- if product.quantity_price_breaks_configured? -%}
            <volume-pricing class="parent-display" id="Volume-{{ section.id }}">
              {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                <ul class="list-unstyled">
                  <li>
                    <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                    {%- assign price = product.selected_or_first_available_variant.price | money_with_currency
                    -%}
                    <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: variant_price }}">
                      {{- 'sections.quick_order_list.each' | t: money: price -}}
                    </span>
                  </li>
                  {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                    {%- assign price_break_price = price_break.price | money_with_currency -%}
                    <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                      <span>
                        {{- price_break.minimum_quantity -}}
                        <span aria-hidden="true">+</span>
                      </span>
                      <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">
                        {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                      </span>
                    </li>
                  {%- endfor -%}
                </ul>
                {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                  <show-more-button>
                    <button
                      class="button-show-more link underlined-link"
                      id="Show-More-{{ section.id }}"
                      type="button">
                      <span class="label-show-more label-text">
                        <span aria-hidden="true">+
                        </span>
                        {{ 'products.facets.show_more' | t }}</span>
                    </button>
                  </show-more-button>
                {%- endif -%}
              {%- endif -%}
            </volume-pricing>
          {%- endif -%}
        </div>


        {% render 'product-variant-picker' product: product
          , block: block
          , product_form_id: product_form_id
        %}

        <div
          id="price-{{ section.id }}"
          role="status"
          {{ block.shopify_attributes }}>
          {%- render 'price'
            , product: product
            , use_variant: true
            , show_badges: true
            , price_class: 'price--large'
          -%}
        </div>

        {%- render 'buy-buttons'
          , block: block
          , product: product
          , product_form_id: product_form_id
          , section_id: section.id
          , show_pickup_availability: true
        -%}

      </section>
    </product-info>
  {% endfor %}

</div>

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'modal-popup.js' | asset_url }}" defer="defer"></script>


{% schema %}
  {
    "name": "Lookbook",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Space before section",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Space after section",
        "default": 16
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "color",
        "id": "description_color",
        "label": "Description color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000000"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "Product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
              }, {
                "value": "button",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
              }
            ],
            "default": "button",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
          },
          {
            "id": "swatch_shape",
            "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.label",
            "type": "select",
            "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.info",
            "options": [
              {
                "value": "circle",
                "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
              }, {
                "value": "square",
                "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
              }, {
                "value": "none",
                "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
              }
            ],
            "default": "circle"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Lookbook"
      }
    ]
  }
{% endschema %}