{{ 'lookbook-modal.css' | asset_url | stylesheet_tag }}


{% liquid
  assign image = section.settings.image
  assign description = section.settings.description
%}

<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>


<div class="section-{{ section.id }} section-{{ section.id }}-padding">
  <div class="lookbook_content_wrapper">
    {% if  image != blank %}
      <div class="item">
        <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt}}">
      </div>
    {% endif %}
    {% if description != blank %}
      <div class='lookbook_content_wrapper_desc item'>
        {{ description }}
      </div>
    {% endif %}
    <button js-modal-trigger>
      {{ 'sections.lookbook_section.shop_btn' | t }}
    </button>
  </div>
  <div>
    <div js-modal class="modal">
      <div js-modal-content class="modal__inner">
        <div class="modal__body">
            {% if image != blank %}
              <div class="modal__body_item">
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt}}">
              </div>
            {% endif %}
            <div class="modal_body__products_wrapper modal__body_item">
              {% for block in section.blocks %}
                {% assign product = block.settings.product %}
    
                {%- if product != blank -%}
                  {% render 'product-card',product: product, block: block %}
                {%- endif -%}  
            
              {% endfor %}
            </div>
          </div>
        <button js-modal-close class="modal__close">
          {%- render 'icon-cross' -%}
        </button>
      </div>
    </div>
  </div>
</div>


<script src="{{ 'product_card.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'lookbook-modal.js' | asset_url }}" defer="defer"></script>



{% schema %}
  {
    "name": "Lookbook",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Space before section",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Space after section",
        "default": 16
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "color",
        "id": "description_color",
        "label": "Description color",
        "default": "#000000"
      }, 
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000000"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "Product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "product_attribute",
            "label": "Product attribute"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Lookbook"
      }
    ]
  }
{% endschema %}